@import '../../app.scss';

.priyanshu {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    overflow: hidden;
    position: relative;

    .wrapper {
        max-width: 70vw;
        height: 100%;
        margin: auto;
        z-index: 2;

        .textContainer {
            height: 100%;
            // width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            @include mobile {
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }

            h2 {
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 5px;
            }

            h1 {
                font-size: 70px;

                @include mobile {
                    font-size: 35px;
                }
            }

            .buttons {
                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    color: white;
                    background-color: transparent;
                    margin-right: 15px;
                    cursor: pointer;
                    font-weight: 200;
                }
            }

            img {
                width: 50px;
            }
        }
    }

    .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;

        @include mobile {
            height: 60%;
            width: 100%;
            top: unset;
            bottom: 0;
            translate: 0px 30px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 40vh;
        bottom: 0px;
        white-space: nowrap;
        color: #ffffff09;
        font-weight: bold;
        z-index: 1;
    }
}